.border{
background-color: aliceblue;
}
.bord{
    background-color: rgba(48, 5, 61, 0.445);

}
.btn{
    background-color: blueviolet;
}


input[type="text"] {
    width: 85px;
    border-radius: 5px;
    border: none;
    text-align: center;
  }